.box-1 {
  transition: 1s;
  opacity: 0;
}
.box-2 {
  opacity: 1;
}

.first-item-1 {
  transition-property: opacity, width;
  transition-duration: 4s, 0.5s;

  opacity: 1;
}
.first-item-2 {
  opacity: 0;
  width: 0 !important;
}

.second-item-1 {
  transition-property: opacity, width;
  transition-duration: 3.5s, 0.5s;

  opacity: 1;
}
.second-item-2 {
  opacity: 0;
  width: 0 !important;
}
