/* <- Demo Stuff Start */

.btn {
  flex: 1 1 auto;
  padding: 10px 16px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  /* box-shadow: 0 0 20px #eee; */
  border-radius: 7px;
  font-family: "Montserrat", sans-serif;
  border: none;
  outline: none;
}

/* Demo Stuff End -> */

.btn-grad-1 {
  background-image: linear-gradient(
    to right,
    #f09819 0%,
    #edde5d 51%,
    #f09819 100%
  );
}
.btn-grad-1:hover {
  background-position: right center;
}

.btn-grad-2 {
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #f09819 51%,
    #ff512f 100%
  );
}
.btn-grad-2:hover {
  background-position: right center;
}

.btn-grad-3 {
  background-image: linear-gradient(
    to right,
    #ff8008 0%,
    #ffc837 51%,
    #ff8008 100%
  );
}
.btn-grad-3:hover {
  background-position: right center;
}

.btn-grad-4 {
  /* background-image: linear-gradient(
    to right,
    #c9c48f 0%,
    #b5a847 20%,
    #a9971b 100%
  ); */
  background: #cfb539;
}
.btn-grad-4:hover {
  background-position: right center;
}

/* <- Magic Stuff Start */

.btn:hover {
  background-position: right center; /* change the direction of the change here */
}

.btn-1 {
  background-image: linear-gradient(
    to right,
    #f6d365 0%,
    #fda085 51%,
    #f6d365 100%
  );
}

.btn-2 {
  background-image: linear-gradient(
    to right,
    #fbc2eb 0%,
    #a6c1ee 51%,
    #fbc2eb 100%
  );
}

.btn-3 {
  background-image: linear-gradient(
    to right,
    #84fab0 0%,
    #8fd3f4 51%,
    #84fab0 100%
  );
}

.btn-4 {
  background-image: linear-gradient(
    to right,
    #a1c4fd 0%,
    #c2e9fb 51%,
    #a1c4fd 100%
  );
}

.btn-5 {
  background-image: linear-gradient(
    to right,
    #ffecd2 0%,
    #fcb69f 51%,
    #ffecd2 100%
  );
}

.btn-disabled {
  background: gray;
}

/* Magic Stuff End -> */
